/* Login and register forms */
#login-content {
    background-image: linear-gradient(to bottom left, #CD5C5C, #353737);
    padding: 5%;
    height: 620px;
}

#login-content #left-side-login {
    padding: 2%;
    background-color: rgb(247, 86, 86);
}

#login-content #left-side-login p.h1 {
    font-family: 'Oxanium';
    font-weight: 200;
    color: #fff;
}

#login-content #left-side-login p.h3 {
    font-family: 'Oxanium';
    letter-spacing: 2px;
}

#login-content #login-form {
    padding: 2%;
    background-color: #2e3572;
}

#login-content #login-form .login-button, #login-content #login-form .register-form-button, 
#login-form .register-button {
    border: 1px solid #ddd;
    padding: 1%;
    font-family: 'Oxanium';
    color: #ddd;
    background-color: transparent;
}

#login-content #login-form .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
}

#login-content #user-auth{
    height: 100%;
}

#login-form #register .fa-chevron-left {
    cursor: pointer;
}

.cir {
    transform: rotateZ(360deg);
    transition: transform 2s ease-in 100ms;
}